<html>

<head>
    <script type="text/javascript" src="https://unpkg.com/hammerjs@2.0.8"></script>
</head>

<body>
    <h1>Transformer.js</h1>
    <p>
        The page demonstrates four example uses of the transformer.js library. All of them have rectangles as transformables in them.
        Use drag and drop with your mouse to move them around, the mouse scroll wheel to scale them, and ctrl key + mouse
        scroll wheel to rotate them.
    </p>
    <p>
        The Hammer.js example below also allows for touch input, so you can use it on any touch-enabled device (e.g., smartphone
        or tablet) to pan, rotate, and zoom a transformable.
    </p>
    <p>
        At the moment, there is no documentation of the code. This will follow. For now, you can inspect the source code to get an
        idea of how to use the transformer.js.
    </p>
    <div class="example">
        <h2>Basic Example</h2>
        <div>
            <iframe src="./basic/"></iframe>
        </div>
    </div>
    <div class="example">
        <h2>Hammer.js Example</h2>
        <div>
            <iframe src="./hammerjs/"></iframe>
        </div>
    </div>
    <div class="example">
        <h2>Custom Example</h2>
        <div>
            <iframe src="./custom/"></iframe>
        </div>
    </div>
    <div class="example">
        <h2>Nested Example</h2>
        <div>
            <iframe src="./nested/"></iframe>
        </div>
    </div>
</body>

</html>