<html>

<head>
    <script type="text/javascript" src="https://unpkg.com/hammerjs@2.0.8"></script>
</head>

<body>
    <div class="container purple">
        <div id="object1" class="object green" style="transform: translate3d(200px, 300px, 0);"></div>
        <div id="object2" class="object red"></div>
    </div>
</body>

</html>