#tool-palette {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
    transition: opacity 250ms;
}

#tool-palette>div {
    float: left;
}

#tool-palette .instrument-tool {
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1.6em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.drawing-instrument-tools .clear-drawing-canvas {
    background: darkred;
    float: right;
    overflow: hidden;
}

.drawing-instrument-tools .clear-drawing-canvas:after {
    color: white;
    content: "delete_forever";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: 'Material Icons';
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.drawing-instrument-tools .erase-drawing-canvas {
    background: darkgray;
    float: right;
    overflow: hidden;
}

.drawing-instrument-tools .erase-drawing-canvas:after {
    color: white;
    content: "format_clear";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: 'Material Icons';
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.drawing-instrument-tools .thicknesses {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.drawing-instrument-tools .thicknesses .thickness {
    position: relative;
    display: inline-block;
    border-radius: 50% !important;
}

.drawing-instrument-tools .thicknesses .thickness:after {
    color: white;
    content: "border_color";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: 'Material Icons';
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.drawing-instrument-tools .thicknesses .thickness[active="true"] {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .7);
    border: 2px solid transparent;
}

.drawing-instrument-tools .thicknesses .thickness[active="true"]:after {
    color: black;
}



.drawing-instrument-tools .colors {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.drawing-instrument-tools .colors .color {
    position: relative;
    display: inline-block;
    border-radius: 50% !important;
}

.drawing-instrument-tools .colors .color:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    border-radius: 50%;
    opacity: .5;
}

.drawing-instrument-tools .colors .color[active="true"] {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .7);
    border: 2px solid transparent;
}

.drawing-instrument-tools .colors .color[active="true"]:after {
    opacity: 0.0;
}