#d3_container {
    height: 100%;
    width: 75%;
    margin: 0;
}

#content_container {
    height: 500px;
    width: 25%;
    float: right;
    overflow: auto;
    background: gray
}

#addWindow {
    width: 95%; 
    height: 350px;
}

#previewIframe {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 300px;
    height: 300px;
}

button {
    width:100%;
    height: 20px;
    font-size: 15;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#canvas {
    height: 100%;
    width: 75%;
    margin: 0;
    position: absolute;
}

.selected .node-rep{
    stroke: orange;
    stroke-width: 5px;
}

.selected .link-rep{
    stroke: orange;
}

.drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
    z-index: 0;
}

.drag_line_hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}

.link {
    stroke: #999;
    stroke-width: 5;
    cursor: crosshair;
    z-index: 0;
}

.link_selected {
    stroke: #ff7f0e;
}

.node:hover {
    fill: #ff9900;
}

.active_node {
    fill: orange;
}

.selection_area{
    stroke: green;
    fill: green;
    fill-opacity: .5;  
}

.label{
    stroke-width: 1;
    fill: green;
    stroke-color: green;
    dominant-baseline: middle; 
    text-anchor: middle;
}

.label-input{
    z-index: 1;
    position: absolute;
    height: 25px;
}

.label-input input{
  position : relative;
  left: -50%;
  top: -50%;
  text-align: center;
}

.shaking{
    animation: shake 0.5s;
    animation-iteration-count: 2; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*************************************************************************/
/************************** EXPERIMENTAL CODE ****************************/

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}