#content_container {
    position: absolute;
    height: 100%;
    width: 20%;
    right:0px;
    overflow: auto;
    background: white;
    z-index: 9999999;
    padding-left: 10px;
    padding-right: 10px;
}

#addWindow {
    width: 95%; 
    height: 350px;
}

#previewIframe {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 300px;
    height: 300px;
}

button {
    width:100%;
    height: 20px;
    font-size: 13px !important;
}

html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}

@font-face {
  font-family: "Miso Bold";
  src: "styles/fonts/miso-bold-webfont.woff";
}

@font-face {
  font-family: "Miso Light";
  src: "styles/fonts/miso-light-webfont.woff";
}

@font-face {
  font-family: "Miso Regular";
  src: "styles/fonts/miso-regular-webfont.woff";
}

h1, h2, button, div {
    font-family: 'Miso Regular';
}

h1 {
    background-color: #FCE946;
    padding-top: 5px;
}

h2 {
    color: #FCE946;
}

#canvas {
    overflow: hidden;
    fill: beige;
}

#d3_container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    float: left;
}

#CogCanvas{
    height: 100%;
    width: 100%;
}

.pin .node-rep{
    stroke: none;
    fill-opacity:.8;
}

.pin.selected .node-rep{
    stroke: none;
}

.pin .label{
    fill: white;
}

.pin.selected .label{
    fill: orange;
}

.selected .node-rep{
    stroke: #0099FA;
    stroke-width: 5px;
}

.selected .link-rep{
    stroke: #0099FA;
}

.drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
    z-index: 0;
}

.drag_line_hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}

.link {
    stroke: lightgrey;
    stroke-width: 5;
    cursor: crosshair;
    z-index: 0;
}

.link.selected .link-rep{
    stroke: #ff7f0e !important; 
}

.node:hover {
    fill: #ff9900;
}

.active_node {
    fill: orange;
}

.selection_area{
    stroke: green;
    fill: green;
    fill-opacity: .5;  
}

.map-image.selected{
    stroke: orange;
    stroke-width: 5;
}

.label{
    stroke-width: 1;
    fill: green;
    stroke: none;
    dominant-baseline: middle; 
    text-anchor: middle;
}

.label-input{
    z-index: 1;
    position: absolute;
    text-align:center;
}

.shaking{
    animation: shake 0.5s;
    animation-iteration-count: 2; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}