@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.deleted {
    display: none
}

/**
 * The buttons on the sidebar that change the shape of a node
 */
#node_shape_container{

}
.node_shape_button{
  width: 40px;
  height: 40px;
}
#rect_btn{

}
#circle_btn{

}
#triangle_btn{

}

#label_edit_container{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

#label_text_increase{
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#label_text_decrease{
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#label_text_bold{
    font-size: 15px;
    width: 30px;
    height: 30px;
}

#label_text_italics{
    font-size: 15px;
    width: 30px;
    height: 30px;
}

#text_color_containner {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
}
.text_color_button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
}
#green_text{
    background-color: green;
}
#red_text{
    background-color: red;
}
#blue_text{
    background-color: blue;
}
#black_text{
    background-color: black;
}

#node_color_container {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

.node_color_button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 10px;

}

#green_node{
    background-color: green;
}

#red_node{
    background-color: red;
}

#blue_node{
    background-color: blue;
}

#black_node{
    background-color: black;
}

#node_border_container{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

#green_border{
    border-width: 1;
    border-color: green;
}

#red_border{
    border-width: 1;
    border-color: red;
}

#blue_border{
    border-width: 1;
    border-color: blue;
}

#black_border{
    border-width: 1;
    border-color: black;
}

#link_color_container {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

.link_color_button {
    width: 80px;
    height: 1px;
}

#green_link{
    border-color: green;
}

#red_link{
    border-color: red;
}

#blue_link{
    border-color: blue;
}

#black_link{
    border-color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: url(paintbrush.png);
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#toggle_touch_drawing {
    width:  70px;
    height: 70px;
    font-size: 10;
    border-radius: 50%;
    float: left;
}

#toolSection {
    text-align: center;
    background-color: #5D5D5D;
    overflow: hidden;
}

#uploadImageBtn {
    background-color: #E55060;
    border: 0;
    height: 30px;
    color: white;
}

#drawIcon {
    vertical-align: top;
    margin-top: 7px;
}

#editIcon {
    vertical-align: top;
    margin-top: 5px;
}

#fontSizeIcon {
    margin-top: 5px;
}