/**
 * The styling for the redesigned tool panel, which will be gnerated in 
 * javascript
 */

#toolPanel{
	z-index: 9999;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 375px;
	background: #EDEEEE; /* theme color : Light; */

	color: #2F323D;
	font-size: 24pt;
	font-family: Roboto, sans-serif;
}

#toolPanelHeader{
	height: 86px;
	line-height: 86px;
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
	font-family: inherit;
}

#toolPanelHeader .icon{
	font-size:42px;
	padding: 0px 2px 0px 2px;
	pointer-events: none;
}

.toolPanelTab{
	flex: 1 1 auto;
	font-family: inherit;
	cursor: pointer;
}

.toolPanelTab:hover{
}

.toolPanelTab:not([active]){
	background: #D3D4D4; /* Theme color: June */
}

#nodeTPTab .icon{
	transform: rotateZ(180deg);
}

.tabFieldContainer{
	display: none;
	font-size: 22px;
	line-height: 66px;
	padding-bottom: 10px;
}

.tabFieldContainer[active]{
	display: block;
}

.toolPanelField{
}

#elementSelectorField{
	background-color: #FFFFFF;
	height: 78px;
	padding-left: 13px;
}

#elementsTypeField{
	font-size: 24px;
	font-weight: bold;
	width: 130px;
}

#stylesTypeField{
	font-size: 14px;
	width: 200px;
	text-align: center;
}

.fieldName{
	display: inline-block;
	width: 100px;
	font-size: 22px;
	padding-left: 13px;
}

.fieldOptions{

}

.fieldOption{
	position: relative;
	vertical-align: text-bottom;
	line-height: 30px;
	display: inline-block;
	height: 30px;
	margin-right: 15px;
}

.radioOption{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.radioOption.long{
	width:75px;
}

label{
	cursor: pointer;
}

.selectedBorder{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	background: white;
	border-radius: 50%;
	width: 0px;
	height: 0px;
	-webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  	transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1)
}

.radioOption:checked + .selectedBorder, .checkBoxOption:checked + .selectedBorder{
	width: 46px;
	height: 46px;
	top: -8px;
	left: -8px;
}

.radioOption.long:checked~.selectedBorder{
	width: 91px;
	border-radius: 158px;
}

.colorOption{
}

.shapeOption{
	font-size: 30px;
}

.shapeOption[value="diamond"]{
	transform: rotateZ(45deg) scale(0.707);
}

.sliderField{
	width: 165px;
	margin-right: 15px;
}

.sliderReadOut{
	font-size: 14px;
	color: #1A1A1A;
	vertical-align: middle;
}

.borderOption{
}

.radioOption.long~label{
	position: absolute;
	width: 100%;
	font-size: 14px;
	text-align: center;
	left:0px;
}

.borderOption[value="solid"]~label{
	border: 2px solid black;
	border-radius: 5px;
}

.lineOptionLabel{
	height: 0px;
	border-top: 2px solid #1A1A1A;
	top:50%;
}

.lineOption[value="dashed"]~label{ border-style: dashed; }

.selectField{
	font-size: 20px;
	width: 120px;
	margin-right: 15px;
	border: none;
	background: transparent;
}

#lineWeightSelector{
	width: 45px;
}

.selectField~.lineOptionLabel{
	display: inline-block;
	vertical-align: middle;
	width: 90px;
}

.checkBoxOption{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	width: 30px;
	text-align: center;
}