:root {
	/*
	* === THEME COLORS ===
	*/
	--red: #E68570;
	--purple: #CC6686;
	--blue: #5884B3;
	--green: #9DBE59;
	--yellow: #E5CF6C;
	--black: #000000;
	--geisel: #747678; 
	--darkGrey: #ACADAE;
	--june: #D3D4D4;
	--lightGrey: #EDEEEE; 
	--white: #FFFFFF;
	--sea: #006A96;
	--sun: #FFCD00;
	--grass: #6E963B; 
	--night: #182B49;
}